body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Georgia, Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}

.App {
  text-align: center;
}

.App {
  background-color: #2B2D31;
  display: flex;
  padding-top: 05vh;
  padding-bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.menu_page {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.create_page {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.load_page {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.display_page {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.title {
  position: sticky;
  top: 0;
  padding: 10px; 
  background-color: #232428;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.btn_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  background-color: #5865F7;
  display: inline-block;
  border-radius: 25px;
  padding: 10px 20px;
  text-align: center;
  margin-right: 10px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  color: white;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  background-color: #7983F5;
}

.btn_link {
    color: white;
    text-decoration: none;
}

.form_container {
    /*border: 5px solid #1E1F22;*/
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.input_label {
  font-weight: bold;
  font-size: 25px;
  color: #A6ACB2;
  margin-bottom: 8px;
}

.input_box {
  width: 410px;
  height: 36px;
  padding: 8px;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  background-color: #1E1F22;
  color: white;
  margin-bottom: 16px;
  outline: none;
}

.input_btn {
  background-color: #5865F7;
  width: 100%;
  color: white;
  padding: 10px 0px;
  font-weight: bold;
  font-size: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input_btn:hover {
  background-color: #4752C4;
}

.selection {
  /* background-color: #54337a; */
  max-width: 90vw;
  max-height: 80vh;
}

/* div.session_list {
  background-color: red;
} */

table {
  display: block;
  overflow-y: scroll;
  table-layout: fixed;
  max-height: 50vh;
  min-height: 70%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 10px solid #494C52;
  border-left: 5px solid #494C52;
  border-right: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

th {
  background-color: #5865F7;   
  border: 5px solid #494C52;
  border-right: none;
  border-top: none;
  color: white;
  white-space: nowrap;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: sticky;
  top: 0;
  z-index: 1;
}

td {
  border-left: 5px solid #494C52;
  border-bottom: none;
  border-right: none;
  padding-left: 10px;
  padding-right: 10px; 
  padding-top: 5px;
  padding-bottom: 5px;
}

tr.session_row:hover,
tr:focus-within {
  background: #494C92;
  display: table-row;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.6);
}

table::-webkit-scrollbar {
  width: 10px;
  background-color: #494C52;
  border-radius: 0px 5px 5px 0px;
}

table::-webkit-scrollbar-track {
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 8px;
}

table::-webkit-scrollbar-thumb {
  background-color: #5865F7;
  height: 30px;
  border-radius: 8px;
}

table::-webkit-scrollbar-thumb:hover {
  background-color: #494C92;
  border-radius: 8px;
}
