:root {
  --mid: calc(10px + 1vw + 1vh);
  --big: calc(1px + 2vw + 2vh);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Georgia, Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}

.App {
  height: 90vh;
  text-align: center;
  background-color: #313338;
  display: flex;
  padding-bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.menu_page {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.create_page {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.load_page {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.display_page {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.title {
  position: absolute;
  white-space: nowrap;
  top: 3vh;
  padding: 10px; 
  background-color: #232428;
  font-size: var(--big);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.btn_container {
  position: absolute;
  width: 65vw;
  max-height: 4vh;
  display: flex;
  justify-content: center;
  top: 86vh;
  margin-right: -3vw;
}

.btn {
  flex-shrink: 0;
  background-color: #5865F7;
  display: inline-block;
  border-radius: 20000px;
  padding: 10px 20px;
  text-align: center;
  font-size: var(--mid);
  font-weight: bold;
  border: none;
  margin-right: 3vw;
  color: white;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.btn.last-child {
  margin-right: none;
}

.btn:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  background-color: #7983F5;
}

.btn_link {
  color: white;
  text-decoration: none;
}

.form_container {
  position: absolute;
  top: 25vh;
  display: flex;
  justify-content: center;
  width: calc(300px + 25vw);
  /*min-width: 60vw;*/
  max-width: 575px;
  /*max-height: 40vh;*/
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 5vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.input_label {
  font-weight: bold;
  font-size: var(--mid);
  color: #A6ACB2;
  margin-bottom: 2vh;
}

.input_box {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 10px 12px 10px;
  font-size: var(--mid);
  border-radius: 5px;
  border: none;
  background-color: #1E1F22;
  color: white;
  margin-bottom: 4vh;
  outline: none;
}

.error_msg {
  display: flex;
  background-color: pink;
  align-self: center;
  border: 2px solid red;
  border-radius: 10px;
  padding: 8px;
  color: red;
  text-decoration: underline; 
  margin-bottom: 4vh;
}

.input_btn {
  background-color: #5865F7;
  width: 100%;
  color: white;
  padding: 10px 0px;
  font-weight: bold;
  font-size: var(--mid);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2vh;
  transition: background-color 0.3s ease;
}

.input_btn:hover {
  background-color: #4752C4;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.selection {
  /* background-color: #54337a; */
  max-width: 90vw;
  max-height: 90vh;
}

/* div.session_list {
  background-color: red;
} */

table {
  position: absolute;
  top: 20vh;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll;
  table-layout: fixed;
  max-height: 60vh;
  max-width: 75vw;
  min-height: 50vh;
  min-width: 45vw;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 10px;
  border-radius: calc(2vh + 1vw);
  border: min(2vh,2vw) solid #494C52;
  border-right: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}


.graph {
  width: 85vw; 
  height: 60vh;
  top: 18vh;
}

.graph, table.empty{
  overflow: auto;
  display: flex; 
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: #1A1B1E;
  border: min(2vh,2vw) solid #494C52;
  border-radius: calc(2vh + 2vw); 
  box-shadow: inset 0 0 2vh rgba(0, 0, 0, 10);
  font-size: var(--big);
  font-weight: bold;
}

table.empty {
  overflow: hidden;
  padding: 3vh 3vw 3vh 3vw;
}

th {
  min-width: 15vw;
  background-color: #5865F7;   
  border: 5px solid #494C52;
  border-right: none;
  border-top: none;
  color: white;
  font-size: var(--mid);
  white-space: nowrap;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: sticky;
  top: 0;
  z-index: 1;
}

td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

td,th:first-of-type {
  border-left: none;
}

tr.session_row:hover,
tr:focus-within {
  background: #494C92;
  display: table-row;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar {
  background-color: #494C52;
  width: min(2vh,2vw);
  border-radius: 0 4vh 0 0;
}

::-webkit-scrollbar-track {
  margin-top: 5vh;
  background-color: #494C52;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: min(1vh, 1vw);
}

::-webkit-scrollbar-corner {
  background-color: #494C52;
  border-radius: 0 0 4vh 0;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #242428;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1A1B1E;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  11% { transform: rotate(360deg); }
  14% { transform: rotate(420deg); }
  20% { transform: rotate(340deg); }
  27% { transform: rotate(380deg); }
  33% { transform: rotate(360deg); }
  38% { transform: rotate(365deg); }
  43% { transform: rotate(358deg); }
  47% { transform: rotate(362deg); }
  50% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}

.img_container {
  position: absolute;
  margin: 50px auto;
}

.img { 
  width: min(45vh, 45vw);
  height: min(45vh, 45vw);
  margin-top: 19vh;
  animation: spin 2.5s linear infinite;
}

.img:hover {
  cursor: pointer;
}
