body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}

.App {
  text-align: center;
}

.App {
  background-color: #2B2D31;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

div.selection {
  /* background-color: #54337a; */
  max-width: 90vw;
  max-height: 80vh;
}

/* div.session_list {
  background-color: red;
} */

table {
  display: block;
  overflow-y: scroll;
  table-layout: fixed;
  max-height: 63vh;
  min-height: 70%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 10px solid #494C52;
  border-left: 5px solid #494C52;
  border-right: none;
}

th {
  background-color: #5865F7;   
  border: 5px solid #494C52;
  border-right: none;
  border-top: none;
  color: white;
  white-space: nowrap;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: sticky;
  top: 0;
  z-index: 1;
}

td {
  border: 4px solid #494C52;
  border-bottom: none;
  border-right: none;
  padding-left: 10px;
  padding-right: 10px; 
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 5px solid #494C52;
}

tr.session_row:hover,
tr:focus-within {
  background: #494C92;
  display: table-row;
  transition: background-color 0.3s ease;
}

table::-webkit-scrollbar {
  width: 10px;
  background-color: #494C52;
  border-radius: 0px 5px 5px 0px;
}

table::-webkit-scrollbar-track {
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 8px;
}

table::-webkit-scrollbar-thumb {
  background-color: #5865F7;
  height: 30px;
  border-radius: 8px;
}

table::-webkit-scrollbar-thumb:hover {
  background-color: #494C92;
  border-radius: 8px;
}
