:root {
  --small: min(2.35vw, 3vh);
  --mid: min(4vw,4vh);
  --big: min(6vw,6vh);
}

body {
  margin: 0;
  font-family: -apple-system, "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}

.App {
  height: 90vh;
  text-align: center;
  background-color: #313338;
  display: flex;
  padding-bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.menu_page {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.add_page {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.load_page {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.display_page {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.title {
  position: absolute;
  white-space: nowrap;
  transform: translateY(-50%);
  top: 7vh;
  padding: min(2vh,2vw); 
  background-color: #232428;
  font-size: var(--big);
  border-radius: min(2vh, 2vw);
  box-shadow: 0 0 min(2vh,2vw) rgba(0, 0, 0, 0.7);
}

.btn_container {
  position: absolute;
  width: 65vw;
  max-height: 4vh;
  display: flex;
  justify-content: center;
  top: 89vh;
  margin-right: -3vw;
}

.btn {
  transform: translateY(-50%);
  flex-shrink: 0;
  background-color: #5865F7;
  display: inline-block;
  border-radius: 20000px;
  padding: min(2vh, 2vw);
  text-align: center;
  white-space: nowrap;
  font-size: var(--mid);
  font-weight: bold;
  border: none;
  margin-right: 3vw;
  color: white;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.btn.last-child {
  margin-right: none;
}

.btn:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  background-color: #7983F5;
}

.btn_link {
  color: white;
  text-decoration: none;
}

.form_container {
  position: absolute;
  top: 45vh;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  width: min(70vw,50vh + 20vw);
  /*min-width: 60vw;*/
  /*max-height: 40vh;*/
  padding-bottom: 20px;
  border-radius: 10px;
  padding-top: 20px;
  margin-top: 5vh;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-height: 55vh;
  padding: 2vh 3vw 2vh 3vw;
  box-sizing: border-box;
  font-size: var(--small);
}

.input_label {
  font-weight: bold;
  font-size: var(--small);
  color: #A6ACB2;
  margin-bottom: 2vh;
}

.input_box {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 10px 12px 10px;
  font-size: var(--small);
  border-radius: 5px;
  border: none;
  background-color: #1E1F22;
  color: #DBDEE1;
  margin-bottom: 2vh;
  outline: none;
}

::placeholder{
  color: #80848E;
}

.select_container {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: var(--small);
  border: none;
  color: grey;
  color: red;
  margin-bottom: 2vh;
}

.error_msg {
  display: flex;
  font-size: var(--small);
  background-color: pink;
  align-self: center;
  border: 2px solid red;
  border-radius: 10px;
  padding: 8px;
  justify-content: center;
  color: red;
  text-decoration: underline; 
}

.input_btn {
  background-color: #5865F7;
  width: 100%;
  color: white;
  padding: 10px 0px;
  font-weight: bold;
  font-size: var(--small);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2vh;
  transition: background-color 0.3s ease;
}

.input_btn:hover {
  background-color: #4752C4;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.selection {
  /* background-color: #54337a; */
  max-width: 90vw;
  max-height: 90vh;
}

/* div.session_list {
  background-color: red;
} */

table {
  position: absolute;
  top: 22vh;
  display: block;
  left: 50%;
  transform: translate(-50%, -2%);
  overflow-y: scroll;
  table-layout: fixed;
  max-height: 60vh;
  max-width: 80vw;
  min-height: 60vh;
  min-width: 45vw;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 10px;
  border-radius: calc(2vh + 1vw);
  border: min(2vh,2vw) solid #494C52;
  border-right: 1vh solid #494C52;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.graph {
  width: 85vw; 
  height: 60vh;
  top: 50vh;
  transform: translateY(-50%);
}

.graph, table.empty{
  overflow: auto;
  display: flex; 
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: #1A1B1E;
  border: min(2vh,2vw) solid #494C52;
  border-radius: calc(2vh + 2vw); 
  box-shadow: inset 0 0 2vh rgba(0, 0, 0, 10);
  font-size: var(--big);
  font-weight: bold;
}

table.empty {
  top: 50vh;
  width: 80vw; 
  transform: translate(-50%,-50%);
  overflow: auto;
  padding: 3vh 3vw 3vh 3vw;
}

th {
  min-width: 15vw;
  background-color: #5865F7;   
  border-left: 2vw solid #494C52;
  border-bottom: min(2vw,2vh) solid #494C52;
  border-right: none;
  border-top: none;
  color: white;
  font-size: var(--small);
  white-space: nowrap;
  padding: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  position: sticky;
  top: 0;
  z-index: 1;
}

td {
  padding: 1vh 1vw 1vh 1vw;
  font-size: var(--small);
  text-align: center;
  hyphens: auto;
  /*padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;*/
}

td:last-child {
    padding-left: 3vw
}

th:first-of-type {
  border-left: none;
}

tr.session_row:hover,
tr:focus-within {
  background: #494C92;
  display: table-row;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.6);
}


::-webkit-scrollbar {
  border-radius: 0 3px 3px 0;
  max-width: min(2vh,2vw);
  height: min(2vh,2vw);
}

:hover::-webkit-scrollbar {
  background-color: #1E1F22;
}

::-webkit-scrollbar-thumb {
  background-color: #43444B;
  border-radius: 2vw;
}

table::-webkit-scrollbar {
  background-color: #494C52;
  border-radius: 0 9vh 10vh;
}

table:hover::-webkit-scrollbar {
  background-color: #494C52;
}

table::-webkit-scrollbar-track {
  margin-top: calc(2vh + 1vw);
  background-color: #494C52;
  border-radius: 0 0 1vh 0;
}

table::-webkit-scrollbar-thumb {
  background-color: #494C52;
  border-radius: min(1vh, 1vw);
}

table::-webkit-scrollbar-corner {
  background-color: #494C52;
  border-radius: 0 0 1vh 0;
}

table:hover::-webkit-scrollbar-thumb {
  background-color: #242428;
  border-radius: 2vw;
}

table::-webkit-scrollbar-thumb:hover {
  background-color: #1A1B1E;
}

@keyframes spin {
  0%  { transform: rotate(0deg); }
  7%  { transform: rotate(-40deg); }
  15% { transform: rotate(360deg); }
  18% { transform: rotate(420deg); }
  24% { transform: rotate(335deg); }
  31% { transform: rotate(380deg); }
  35% { transform: rotate(360deg); }
  39% { transform: rotate(349deg); }
  44% { transform: rotate(368deg); }
  48% { transform: rotate(353deg); }
  51% { transform: rotate(364deg); }
  56% { transform: rotate(358deg); }
  59% { transform: rotate(356deg); }
  62% { transform: rotate(361deg); }
  63% { transform: rotate(360deg); }
  64% { transform: rotate(359deg); }
  65% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}

.img_container {
  position: absolute;
  transform: translateY(-50%);
  top: 50vh
}

.img { 
  width: min(45vh, 45vw);
  height: min(45vh, 45vw);
  animation: spin 2.7s linear infinite;
}

.img:hover {
  cursor: pointer;
}
